.container {
  display: flex;
  background: pink;
  margin-bottom: 8px;
}
.item {
  background: skyblue;
  padding: 4px;
  margin: 4px;
  /* width: 90px; */
}
.container2 {
  display: inline-flex;
  background: tan;
  margin-bottom: 8px;
}
.container3 {
  display: flex;
  background: pink;
  margin-bottom: 8px;
  flex-direction: row-reverse;
  /* flex-direction: column; */
}
.container4 {
  display: inline-flex;
  background: tan;
  margin-bottom: 8px;
  flex-direction: column;
}
.container5 {
  display: flex;
  background: pink;
  margin-bottom: 8px;
  /* flex-wrap: wrap; */
  flex-wrap: wrap-reverse;
}
.container6 {
  display: flex;
  background: pink;
  margin-bottom: 8px;
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  justify-content: space-between;
}
.container7 {
  display: flex;
  background: pink;
  height: 200px;
  margin-bottom: 8px;
  align-items: center;
  /* justify-content: center; */
}